* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  font-family: "Rubik", sans-serif;
  color: #191e3f;
  overflow-x: hidden;
}

.container {
  width: 1366px;
  height: 2160px;
  padding: 0 40px;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: rgba(247, 255, 247, 0.8);
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1366px;
  padding: 10px 40px;
}

.header-container a {
  display: inline-block;
  text-decoration: none;
}

nav {
  display: inline-block;
}

.menu {
  border: none;
  background: none;
  color: #191e3f;
  font-family: "Karla", sans-serif;
  font-size: 32px;
  margin-right: 36px;
}

.menu.last {
  margin-right: 0;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 1080px;
  background-color: #f7fff7;
  z-index: -10;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  height: 1080px;
}

.hero-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 294px;
}

.hero-header h1 {
  font-weight: 500;
  font-size: 80px;
}

.hero-header p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 24px;
}

.hero-image {
  width: 1366px;
  height: 1080px;
  position: absolute;
}

.decoration,
.profile {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.decoration {
  width: 1000px;
}

.profile {
  width: 500px;
}

.favourite-hobby {
  display: flex;
  flex-flow: column nowrap;
}

.favourite-hobby h2 {
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  margin-top: 100px;
}

.hobbies {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 152px;
}

.hobby div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #bcf3ef;
  border: 2px solid #4ecdc4;
  border-radius: 12px;
  margin-top: 38px;
}

.hobbies h4 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 58px;
}

.hobbies p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
}

.hobbies a {
  width: 180px;
  height: 60px;
  border: 2px solid #4ecdc4;
  line-height: 60px;
  color: #4ecdc4;
  text-decoration: none;
  border-radius: 30px;
  background-color: white;
  margin-top: 52px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.hobbies a:hover {
  background-color: #bcf3ef;
}

.hobby {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 360px;
  height: 460px;
  box-shadow: none;
}

.hobby.two {
  box-shadow: 0 16px 40px 0 #4ecdc4;
}

.hobby.two div {
  background-color: #4ecdc4;
}

.hobby.two a {
  background-color: #4ecdc4;
  color: white;
}

.hobby.two a:hover {
  background-color: #bcf3ef;
  color: #4ecdc4;
}

.hobby:nth-child(1) {
  margin-right: 50px;
}

.hobby:nth-child(3) {
  margin-left: 50px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #4ecdc4;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: white;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: white;
}

footer p:first-child {
  margin-top: 36px;
}

footer hr {
  text-align: center;
  width: 400px;
  border: 1px solid white;
  margin: 36px auto;
}

/* Badminton page */

header.hobbies-page {
  background-color: rgba(255, 255, 255, 0.8);
}

.badminton-page .first-row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 1080px;
  padding-top: 240px;
}

.badminton-page .first-row .description {
  margin-top: 124px;
}

.description h3 {
  font-size: 64px;
  font-weight: 500;
  line-height: 96px;
}

.description p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #656777;
  margin-top: 22px;
}

.badminton-decoration {
  position: absolute;
  top: 382px;
  right: 538px;
}

.badminton-page .first-row .photos {
  display: flex;
  flex-flow: column nowrap;
}

.first-photo {
  position: relative;
}

.first-photo button {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 20px;
  inset: 0;
  margin: auto;
  cursor: pointer;
  border: none;
}

.second-and-third-photos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 20px;
}

.badminton-page .second-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 1080px;
}

.badminton-page .photos img:nth-child(2) {
  margin-left: 20px;
}

.badminton-page .second-row .description {
  margin-left: 62px;
}

.badminton-footer {
  height: 370px;
}

/* Gaming page */
.gaming-page .first-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 1080px;
  padding-top: 240px;
}

.gaming-page .first-row .photos {
  position: relative;
  width: 580px;
  height: 560px;
}

.game-boy,
.clone-console {
  position: absolute;
}

.game-boy {
  top: 12px;
  left: 14px;
}

.clone-console {
  right: 10px;
  bottom: 10px;
}

.gaming-page .second-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 1080px;
}

.gaming-page .second-row .description {
  margin-left: 60px;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.gaming-page .title ~ .title {
  margin-top: 30px;
}

.title div {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #4ecdc4;
}

.gaming-page h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  margin-left: 18px;
}

.gaming-page .second-row p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #656777;
  margin-top: 30px;
}

/* Music page */
.music-page .first-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 1080px;
}

.music-page .first-row .photo {
  position: relative;
  width: 400px;
  height: 380px;
}

.photo > img {
  position: absolute;
}

.music-page .first-row .photo > img:nth-child(2) {
  right: 0;
  bottom: 0;
}

.music-page .first-row .photo > img:nth-child(3) {
  inset: 0;
  margin: auto;
}

.music-page .first-row .description {
  margin-left: 74px;
}

h3 span {
  color: #4ecdc4;
}

.music-page .second-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 1080px;
}

.music-page .second-row .description h3 {
  margin: 116px 0 46px;
}

.music-page h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
}

.music-page .title ~ .title {
  margin-top: 74px;
}

.music-page .title ~ .title h4 {
  margin-left: 6px;
}

.music-page .second-row .photo {
  position: relative;
  width: 380px;
  height: 370px;
  margin-top: 282px;
}

.music-page .second-row .photo img:nth-child(1) {
  right: 0;
  bottom: 0;
}

.music-footer {
  height: 340px;
}
